// Body
$body-bg: #f8fafc;

// Typography sizes
$font-size-normal: 1.4rem;
$font-size-small-title: 2rem;
$font-size-big-title: 3rem;
$font-size-errors: 1rem;

// Colors
$black: #2b2a33;
$white: #FFFFFF;
$lightred: #ec7063;
$normalred: #fc1111;
$darkgrey: darkslategray;
$lightgrey: darkgrey;
$lightergrey: #a0a0a0;