// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import "@fortawesome/fontawesome-free/css/all.css";

body{
    font-size:$font-size-normal;
}

h1 {
    font-size: $font-size-big-title;
    margin-bottom: 20px;
}

h2 {
    font-size: $font-size-small-title;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, input, button {
    display: block;
}

button {
    padding: 5px 10px;
}

.text-error{
    display: block;
    font-size:$font-size-errors;
    color: $lightred;
}

hr{
    border: 10px solid;
    border-radius: 50%;
}